.repos {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;

}

.repo {
    background: #262d3d; 
    width: 380px;
    margin: 10px;
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
    color: white;
    border-radius: 10px;
}

.repo:hover {
    background: #3b465f;
    cursor: pointer;
    border: 1px solid  #00cc83;
}

.repos a{
    padding: 0;
    cursor: unset;
}

.repo a:hover {
    color: #00cc83;
    font-weight: bold;
}

.hero {
    background: #262d3d;
    background-size: cover;
}

.hero h1 {
    color: white;
}

.hero h2 {
    color: #00cc83;
}

.list a {
    color: #262d3d;
}

.list a:hover {
    color: #00cc83;
}

.divimg {
    background: #262d3d;
}

html {
    scroll-behavior: smooth;
}

header {
    position: fixed;
    width: 100%;
    z-index: 1;
    border-bottom: 1px solid rgb(212, 212, 212);
    box-shadow: 0 1px 4px 0 rgba(99, 99, 99, 0.2)
}

header span {
    border: 1px solid black;
    display: block;
}